@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: darkgray;
}

header{
    background-color: #b690acb4;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 100px;
    font-variant: small-caps;
}

header > p {
    margin-top: 30px;
    padding-bottom: 100px;
}

header > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

header > a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 500px;
}

section.imagem{
    background-color: rgba(41, 40, 40, 0.723);
    color: white;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.216);
}